In [1]:
%gpt python program to read a json file from the path /data/odis_male_json/995465.json and convert the file contents into a pandas dataframe

Please enter openai api key: ········

In [3]:
import pandas as pd
import json

#read the json file
with open('/data/odis_male_json/995465.json') as f:
  data = json.load(f)

#convert the file contents into a pandas dataframe
df = pd.DataFrame.from_dict(data["info"], orient='index')

#print the dataframe
#print(df)

In [18]:
data["info"]

{'balls_per_over': 6,
 'dates': ['2016-09-04'],
 'event': {'match_number': 5, 'name': 'Australia in Sri Lanka ODI Series'},
 'gender': 'male',
 'match_type': 'ODI',
 'match_type_number': 3776,
 'officials': {'match_referees': ['J Srinath'],
  'reserve_umpires': ['REJ Martinesz'],
  'tv_umpires': ['MA Gough'],
  'umpires': ['Aleem Dar', 'RSA Palliyaguruge']},
 'outcome': {'by': {'wickets': 5}, 'winner': 'Australia'},
 'overs': 50,
 'player_of_match': ['DA Warner'],
 'players': {'Australia': ['DA Warner',
   'MS Wade',
   'UT Khawaja',
   'GJ Bailey',
   'TM Head',
   'JP Faulkner',
   'JW Hastings',
   'AJ Finch',
   'MA Starc',
   'A Zampa',
   'SM Boland'],
  'Sri Lanka': ['DM de Silva',
   'MD Gunathilaka',
   'BKG Mendis',
   'LD Chandimal',
   'WU Tharanga',
   'MDKJ Perera',
   'MD Shanaka',
   'SS Pathirana',
   'MDK Perera',
   'RAS Lakmal',
   'MA Aponso']},
 'registry': {'people': {'A Zampa': '14f96089',
   'AJ Finch': 'b8d490fd',
   'Aleem Dar': 'f02778d1',
   'BKG Mendis': '5d1e7582',
   'DA Warner': 'dcce6f09',
   'DM de Silva': '7d608e12',
   'GJ Bailey': '5056011d',
   'J Srinath': 'bad31fac',
   'JP Faulkner': '808f425a',
   'JW Hastings': '012829ff',
   'LD Chandimal': '8dd02a98',
   'MA Aponso': 'e2ee90d9',
   'MA Gough': '76752ac8',
   'MA Starc': '3fb19989',
   'MD Gunathilaka': '509a7ca1',
   'MD Shanaka': '3ff033bb',
   'MDK Perera': '5531248e',
   'MDKJ Perera': 'f21043a5',
   'MS Wade': 'afa7e784',
   'RAS Lakmal': '2f28dc94',
   'REJ Martinesz': '140cdf29',
   'RSA Palliyaguruge': '4339c19d',
   'SM Boland': 'd167edd3',
   'SS Pathirana': '753c95b9',
   'TM Head': '12b610c2',
   'UT Khawaja': '331ea488',
   'WU Tharanga': '7ed9fd56'}},
 'season': 2016,
 'team_type': 'international',
 'teams': ['Sri Lanka', 'Australia'],
 'toss': {'decision': 'bat', 'winner': 'Sri Lanka'},
 'venue': 'Pallekele International Cricket Stadium'}

In [19]:
df = pd.read_csv("/data/cricket_data.csv")

<ipython-input-19-44c3e3b10fc4>:1: DtypeWarning: Columns (9,16,20,21,22,24,25,26,27,28,29,30,31,32,45,46,59,60,73,74,87,88,90,91,92,95,96,97,98,99,100,101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/data/cricket_data.csv")

In [29]:
%gpt pandas filter query example with string like match

In [32]:
df[df["NAME"]=="Warner"]

Empty DataFrame
Columns: [ID, NAME, COUNTRY, Full name, Born, Died, Current age, Major teams, Education, Height, Nickname, Playing role, Batting style, Bowling style, Other, Relation, In a nutshell, DESCRIPTION, AWARDS, BATTING_Tests_Mat, BATTING_Tests_Inns, BATTING_Tests_NO, BATTING_Tests_Runs, BATTING_Tests_HS, BATTING_Tests_Ave, BATTING_Tests_BF, BATTING_Tests_SR, BATTING_Tests_100, BATTING_Tests_50, BATTING_Tests_4s, BATTING_Tests_6s, BATTING_Tests_Ct, BATTING_Tests_St, BATTING_ODIs_Mat, BATTING_ODIs_Inns, BATTING_ODIs_NO, BATTING_ODIs_Runs, BATTING_ODIs_HS, BATTING_ODIs_Ave, BATTING_ODIs_BF, BATTING_ODIs_SR, BATTING_ODIs_100, BATTING_ODIs_50, BATTING_ODIs_4s, BATTING_ODIs_6s, BATTING_ODIs_Ct, BATTING_ODIs_St, BATTING_T20Is_Mat, BATTING_T20Is_Inns, BATTING_T20Is_NO, BATTING_T20Is_Runs, BATTING_T20Is_HS, BATTING_T20Is_Ave, BATTING_T20Is_BF, BATTING_T20Is_SR, BATTING_T20Is_100, BATTING_T20Is_50, BATTING_T20Is_4s, BATTING_T20Is_6s, BATTING_T20Is_Ct, BATTING_T20Is_St, BATTING_First-class_Mat, BATTING_First-class_Inns, BATTING_First-class_NO, BATTING_First-class_Runs, BATTING_First-class_HS, BATTING_First-class_Ave, BATTING_First-class_BF, BATTING_First-class_SR, BATTING_First-class_100, BATTING_First-class_50, BATTING_First-class_4s, BATTING_First-class_6s, BATTING_First-class_Ct, BATTING_First-class_St, BATTING_List A_Mat, BATTING_List A_Inns, BATTING_List A_NO, BATTING_List A_Runs, BATTING_List A_HS, BATTING_List A_Ave, BATTING_List A_BF, BATTING_List A_SR, BATTING_List A_100, BATTING_List A_50, BATTING_List A_4s, BATTING_List A_6s, BATTING_List A_Ct, BATTING_List A_St, BATTING_T20s_Mat, BATTING_T20s_Inns, BATTING_T20s_NO, BATTING_T20s_Runs, BATTING_T20s_HS, BATTING_T20s_Ave, BATTING_T20s_BF, BATTING_T20s_SR, BATTING_T20s_100, BATTING_T20s_50, BATTING_T20s_4s, ...]
Index: []

[0 rows x 181 columns]

In [ ]:
import pandas as pd

# Create a dataframe
df = pd.DataFrame({'Name': ['John', 'Paul', 'George', 'Ringo'],
                   'Age': [30, 33, 31, 28],
                   'City': ['New York', 'London', 'Los Angeles', 'Liverpool']})

# Filter the dataframe to return only rows where the age is greater than 30
filtered_df = df[df['Age'] > 30]

# Print the filtered dataframe
print(filtered_df)

# Output
    Name  Age         City
1   Paul   33       London
2  George   31  Los Angeles

In [27]:
df1 = df.query('NAME like "%%Head%%"')

SyntaxError: invalid syntax (<unknown>, line 1)