In [1]:
%gpt python program to read a json file from the path /data/odis_male_json/995465.json and convert the file contents into a pandas dataframe

Please enter openai api key: ········

In [17]:
import pandas as pd
import json

def parse_files(path):
    #read the json file
    with open('/data/odis_male_json/'+path) as f:
      data = json.load(f)

    #convert the file contents into a pandas dataframe
    df = pd.DataFrame.from_dict(data["info"], orient='index')
    #print(path)
    return df.T

In [43]:
print("Loading Records")
import os
df = pd.DataFrame()

folder = '/data/odis_male_json'

files = os.listdir(folder)
for file in files:
    df1 = parse_files(file)
    #print(df1.head())
    df = pd.concat([df, df1], ignore_index=True)

Loading Records

In [46]:
%gpt write a pandas function to read a field name winner inside a nested json from the column outcome of dataframe by name df and create a new variable called match_winner

Please enter openai api key: ········

In [47]:
df['match_winner'] = df['outcome'].apply(lambda x: x['winner'] if 'winner' in x else None)

In [49]:
%gpt in pandas column by the name teams have an array of records. write a pandas code to fetch the 0th element of the array as team1 and 1st element of the array as team 2

In [50]:
# Fetch 0th element of the array as team1 and 1st element of the array as team2
df["team1"] = df['teams'].map(lambda x: x[0])
df["team2"] = df['teams'].map(lambda x: x[1])

In [51]:
%gpt from the pandas dataframe by name df
fetch

,balls_per_over,city,dates,event,gender,match_type,match_type_number,officials,outcome,overs,...,team_type,teams,toss,venue,missing,supersubs,Winner,match_winner,team1,team2
0,6,Brisbane,[2017-01-13],"{'match_number': 1, 'name': 'Pakistan in Austr...",male,ODI,3817,"{'match_referees': ['JJ Crowe'], 'reserve_umpi...","{'by': {'runs': 92}, 'winner': 'Australia'}",50,...,international,"[Australia, Pakistan]","{'decision': 'bat', 'winner': 'Australia'}","Brisbane Cricket Ground, Woolloongabba",NaN,NaN,"{'by': {'runs': 92}, 'winner': 'Australia'}",Australia,Australia,Pakistan
1,6,NaN,[2017-01-15],"{'match_number': 2, 'name': 'Pakistan in Austr...",male,ODI,3818,"{'match_referees': ['JJ Crowe'], 'reserve_umpi...","{'by': {'wickets': 6}, 'winner': 'Pakistan'}",50,...,international,"[Australia, Pakistan]","{'decision': 'bat', 'winner': 'Australia'}",Melbourne Cricket Ground,NaN,NaN,"{'by': {'wickets': 6}, 'winner': 'Pakistan'}",Pakistan,Australia,Pakistan
2,6,Perth,[2017-01-19],"{'match_number': 3, 'name': 'Pakistan in Austr...",male,ODI,3820,"{'match_referees': ['JJ Crowe'], 'reserve_umpi...","{'by': {'wickets': 7}, 'winner': 'Australia'}",50,...,international,"[Australia, Pakistan]","{'decision': 'field', 'winner': 'Australia'}",Western Australia Cricket Association Ground,NaN,NaN,"{'by': {'wickets': 7}, 'winner': 'Australia'}",Australia,Australia,Pakistan
3,6,NaN,[2017-01-22],"{'match_number': 4, 'name': 'Pakistan in Austr...",male,ODI,3822,"{'match_referees': ['JJ Crowe'], 'reserve_umpi...","{'by': {'runs': 86}, 'winner': 'Australia'}",50,...,international,"[Australia, Pakistan]","{'decision': 'bat', 'winner': 'Australia'}",Sydney Cricket Ground,NaN,NaN,"{'by': {'runs': 86}, 'winner': 'Australia'}",Australia,Australia,Pakistan
4,6,NaN,[2017-01-26],"{'match_number': 5, 'name': 'Pakistan in Austr...",male,ODI,3826,"{'match_referees': ['JJ Crowe'], 'reserve_umpi...","{'by': {'runs': 57}, 'winner': 'Australia'}",50,...,international,"[Australia, Pakistan]","{'decision': 'bat', 'winner': 'Australia'}",Adelaide Oval,NaN,NaN,"{'by': {'runs': 57}, 'winner': 'Australia'}",Australia,Australia,Pakistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377,6,Belfast,[2016-07-12],"{'match_number': 2, 'name': 'Afghanistan in Ir...",male,ODI,3761,"{'match_referees': ['DT Jukes'], 'reserve_umpi...","{'by': {'runs': 39}, 'winner': 'Afghanistan'}",50,...,international,"[Ireland, Afghanistan]","{'decision': 'field', 'winner': 'Ireland'}","Civil Service Cricket Club, Stormont",[player_of_match],NaN,"{'by': {'runs': 39}, 'winner': 'Afghanistan'}",Afghanistan,Ireland,Afghanistan
2378,6,Belfast,[2016-07-17],"{'match_number': 4, 'name': 'Afghanistan in Ir...",male,ODI,3763,"{'match_referees': ['DT Jukes'], 'reserve_umpi...","{'by': {'runs': 79}, 'winner': 'Afghanistan'}",50,...,international,"[Ireland, Afghanistan]","{'decision': 'bat', 'winner': 'Afghanistan'}","Civil Service Cricket Club, Stormont",[player_of_match],NaN,"{'by': {'runs': 79}, 'winner': 'Afghanistan'}",Afghanistan,Ireland,Afghanistan
2379,6,Belfast,[2016-07-19],"{'match_number': 5, 'name': 'Afghanistan in Ir...",male,ODI,3764,"{'match_referees': ['DT Jukes'], 'reserve_umpi...","{'by': {'runs': 12}, 'winner': 'Ireland'}",50,...,international,"[Ireland, Afghanistan]","{'decision': 'field', 'winner': 'Afghanistan'}","Civil Service Cricket Club, Stormont",[player_of_match],NaN,"{'by': {'runs': 12}, 'winner': 'Ireland'}",Ireland,Ireland,Afghanistan
2380,6,Edinburgh,[2016-08-14],"{'match_number': 26, 'name': 'ICC World Cricke...",male,ODI,3765,"{'match_referees': ['GF Labrooy'], 'reserve_um...","{'by': {'runs': 98}, 'winner': 'Scotland'}",50,...,international,"[Scotland, United Arab Emirates]","{'decision': 'field', 'winner': 'United Arab E...","Grange Cricket Club Ground, Raeburn Place",[player_of_match],NaN,"{'by': {'runs': 98}, 'winner': 'Scotland'}",Scotland,Scotland,United Arab Emirates
2381,6,Edinburgh,[2016-08-16],"{'match_number': 28, 'name': 'ICC World Cricke...",male,ODI,3766,"{'match_referees': ['GF Labrooy'], 'reserve_um...","{'by': {'wickets': 7}, 'winner': 'Scotland'}",50,...,international,"[Scotland, United Arab Emirates]","{'decision': 'bat', 'winner': 'United Arab Emi...","Grange Cricket Club Ground, Raeburn Place",[player_of_match],NaN,"{'by': {'wickets': 7}, 'winner': 'Scotland'}",Scotland,Scotland,United Arab Emirates

In [34]:
%gpt ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
This error occurs when trying to mask an array with a non-boolean array that contains missing or invalid values (such as NA or NaN). Masking is the process of selecting a subset of elements from an array according to certain criteria. In order to do this, the criteria must be expressed as a boolean array, meaning that all elements must be either True or False. If the array contains any missing or invalid values (such as NA or NaN), then it cannot be used for masking and this error will be thrown.

In [27]:
df1 = df.query('NAME like "%%Head%%"')

SyntaxError: invalid syntax (<unknown>, line 1)