In [1]:
%gpt python program to read a json file from the path /data/odis_male_json/995465.json and convert the file contents into a pandas dataframe

Please enter openai api key: ········

In [3]:
import pandas as pd
import json

#read the json file
with open('/data/odis_male_json/995465.json') as f:
  data = json.load(f)

#convert the file contents into a pandas dataframe
df = pd.DataFrame.from_dict(data["info"], orient='index')

#print the dataframe
#print(df)

In [18]:
data["info"]

{'balls_per_over': 6,
 'dates': ['2016-09-04'],
 'event': {'match_number': 5, 'name': 'Australia in Sri Lanka ODI Series'},
 'gender': 'male',
 'match_type': 'ODI',
 'match_type_number': 3776,
 'officials': {'match_referees': ['J Srinath'],
  'reserve_umpires': ['REJ Martinesz'],
  'tv_umpires': ['MA Gough'],
  'umpires': ['Aleem Dar', 'RSA Palliyaguruge']},
 'outcome': {'by': {'wickets': 5}, 'winner': 'Australia'},
 'overs': 50,
 'player_of_match': ['DA Warner'],
 'players': {'Australia': ['DA Warner',
   'MS Wade',
   'UT Khawaja',
   'GJ Bailey',
   'TM Head',
   'JP Faulkner',
   'JW Hastings',
   'AJ Finch',
   'MA Starc',
   'A Zampa',
   'SM Boland'],
  'Sri Lanka': ['DM de Silva',
   'MD Gunathilaka',
   'BKG Mendis',
   'LD Chandimal',
   'WU Tharanga',
   'MDKJ Perera',
   'MD Shanaka',
   'SS Pathirana',
   'MDK Perera',
   'RAS Lakmal',
   'MA Aponso']},
 'registry': {'people': {'A Zampa': '14f96089',
   'AJ Finch': 'b8d490fd',
   'Aleem Dar': 'f02778d1',
   'BKG Mendis': '5d1e7582',
   'DA Warner': 'dcce6f09',
   'DM de Silva': '7d608e12',
   'GJ Bailey': '5056011d',
   'J Srinath': 'bad31fac',
   'JP Faulkner': '808f425a',
   'JW Hastings': '012829ff',
   'LD Chandimal': '8dd02a98',
   'MA Aponso': 'e2ee90d9',
   'MA Gough': '76752ac8',
   'MA Starc': '3fb19989',
   'MD Gunathilaka': '509a7ca1',
   'MD Shanaka': '3ff033bb',
   'MDK Perera': '5531248e',
   'MDKJ Perera': 'f21043a5',
   'MS Wade': 'afa7e784',
   'RAS Lakmal': '2f28dc94',
   'REJ Martinesz': '140cdf29',
   'RSA Palliyaguruge': '4339c19d',
   'SM Boland': 'd167edd3',
   'SS Pathirana': '753c95b9',
   'TM Head': '12b610c2',
   'UT Khawaja': '331ea488',
   'WU Tharanga': '7ed9fd56'}},
 'season': 2016,
 'team_type': 'international',
 'teams': ['Sri Lanka', 'Australia'],
 'toss': {'decision': 'bat', 'winner': 'Sri Lanka'},
 'venue': 'Pallekele International Cricket Stadium'}

In [19]:
df = pd.read_csv("/data/cricket_data.csv")

<ipython-input-19-44c3e3b10fc4>:1: DtypeWarning: Columns (9,16,20,21,22,24,25,26,27,28,29,30,31,32,45,46,59,60,73,74,87,88,90,91,92,95,96,97,98,99,100,101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/data/cricket_data.csv")

In [29]:
%gpt pandas filter query example with string like match

In [33]:
df[df["NAME"].str.contains("Warner")]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [34]:
%gpt ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
This error occurs when trying to mask an array with a non-boolean array that contains missing or invalid values (such as NA or NaN). Masking is the process of selecting a subset of elements from an array according to certain criteria. In order to do this, the criteria must be expressed as a boolean array, meaning that all elements must be either True or False. If the array contains any missing or invalid values (such as NA or NaN), then it cannot be used for masking and this error will be thrown.

In [27]:
df1 = df.query('NAME like "%%Head%%"')

SyntaxError: invalid syntax (<unknown>, line 1)